<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.username %>
      </h1>   <br /> <br /> <br />
      <strong>About Me: </strong>
        <%= @user.about_me %>
    </td>
    <td class="sidebar round">
       <table>
      <tr><td><strong>Name</strong></td><td><%= @user.username %></td></tr>
      <tr><td><strong>Forum Posts</strong></td><td><%= @user.posts.count %></td></tr>
      <tr><td><strong>URL</strong> </td><td> <%= link_to user_path(@user), @user %></td></tr>
      <tr><td><strong>Teams</strong></td><td> <%= @user.teams.count %></td></tr>
      <tr><td> <strong>Location</strong></td><td> <%= @user.location %></td></tr>
      <tr><td> <strong>Club</strong></td><td> <%= @user.team %></td></tr>
       </table>
    </td>
  </tr>
</table>