  <% if !current_user.nil? && current_user.forem_admin %>
<div class="right controls">
  <%= link_to "New Forum Category", new_category_path %></div>  <br />
   <% end %>
<% @categories.each do |category| %>
  <div class="module">
    <div class="module_header">
      <%= category.title %>
      <% if !current_user.nil? && current_user.forem_admin %>
      <span class="controls right smaller">
        <%= link_to "New Forum", new_forum_path %>
        <%= link_to "Edit Category", edit_category_path(category) %>
        <%= link_to "Delete Category", category_path(category), :confirm => "Are you sure you want to delete this category?", :method => :delete %>
      </span>
      <% end %>
    </div>
    <% if category.forums.size > 0 %>
    <div>
      <table>
        <tr class="smaller">
          <th colspan="2" align="left">Forum</th>
          <th>Topics</th>
          <th>Posts</th>
          <th class="last_post" align="left">Last Post</th>
        </tr>
        <% category.forums.each do |forum| %>
        <tr>
          <td class="icon"><%= image_tag 'ruby.png' %></td>
          <td class="description">
            <%= link_to forum.title, forum_path(forum) %><br />
            <span class="smaller"><%= forum.description %></span><br />
          </td>
          <td class="counts smaller"><%= forum.topics.size %></td>
          <td class="counts smaller"><%= forum.posts.size - forum.topics.size %></td>
          <td class="last_post smaller">
            <% if forum.posts.size > 0 %>
              <%= forum.posts.last.created_at %><br />
              by <%= link_to " #{forum.posts.last.user.username}", user_path(forum.posts.last.user.id) %>
            <% else %>
              No Topics / Posts
            <% end %>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
    <% else %>
      <div class="module_body">There are currently no forums.</div>
    <% end %>
  </div>
<% end %>

<div id="info_box">
  <p>
  Total number of registered users: <strong><%= User.count %></strong><br />
  Newest registered user: <%= link_to "#{User.last.username unless User.last.nil?}", user_path(User.last) %>
  </p>
</div>
